<%= form_for(@sustancia_quimica) do |f| %>
  <% if @sustancia_quimica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sustancia_quimica.errors.count, "error") %> prohibited this sustancia_quimica from being saved:</h2>

      <ul>
      <% @sustancia_quimica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :pureza %><br>
    <%= f.text_field :pureza %>
  </div>
  <div class="field">
    <%= f.label :estado_materia %><br>
    <%= f.text_field :estado_materia %>
  </div>
  <div class="field">
    <%= f.label :controlado %><br>
    <%= f.check_box :controlado %>
  </div>
  <div class="field">
    <%= f.label :regimen_legal %><br>
    <%= f.text_field :regimen_legal %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :CAS %><br>
    <%= f.text_field :CAS %>
  </div>
  <div class="field">
    <%= f.label :uso %><br>
    <%= f.text_field :uso %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsable %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br>
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :caducidad %><br>
    <%= f.date_select :caducidad %>
  </div>
  <div class="field">
    <%= f.label :peligro %><br>
    <%= f.text_field :peligro %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
