<%= form_for(@sustancia_quimica) do |f| %>
  <% if @sustancia_quimica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sustancia_quimica.errors.count, "error") %> prohiben esta sustancia quimica de ser guardada:</h2>

      <ul>
      <% @sustancia_quimica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :pureza %><br>
    <%= f.text_field :pureza %>
  </div>
  <div class="field">
    <%= f.label :estado_materia %><br>
    <%= f.select(:estado_materia, [['Solido'], ['Liquido'], ['Gaseoso'] ] ) %>
  </div>
  <div class="field">
    <%= f.label :controlado %><br>
    <%= f.select(:controlado, [['Si'], ['No']] ) %>
  </div>
  <div class="field">
    <%= f.label :regimen_legal %><br>
        <br>
    <%= check_box_tag 'sustqui_regi[]', 'RL7' %>
    <%= f.label :RL7 %><br>
    <%= check_box_tag 'sustqui_regi[]', 'RL4' %>
    <%= f.label :RL4 %><br>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field(:cantidad, min: 0) %>
  </div>
  <div class="field">
    <%= f.label :CAS %><br>
    <%= f.text_field :CAS %>
  </div>
  <div class="field">
    <%= f.label :uso %><br>
        <br>
    <%= check_box_tag 'sustqui_uso[]', 'Investigacion' %>
    <%= f.label :Investigacion %><br>
    <%= check_box_tag 'sustqui_uso[]', 'Docencia' %>
    <%= f.label :Docencia %><br>
    <%= check_box_tag 'sustqui_uso[]', 'Extension' %>
    <%= f.label :Extension %><br>
    <%= check_box_tag 'sustqui_uso[]', 'Gestion' %>
    <%= f.label :Gestion %><br>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, [['Vigente'], ['Vencido'], ['Indeterminado']] ) %>
  </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsable %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br>
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :caducidad %><br>
    <%= f.date_select :caducidad %>
  </div>
  <div class="field">
    <%= f.label :peligro %><br>
        <br>
    <%= check_box_tag 'sustqui_peli[]', 'Toxico' %>
    <%= f.label :Toxico %>
    <%= check_box_tag 'sustqui_peli[]', 'Inflamable' %>
    <%= f.label :Inflamable %><br>
    <%= check_box_tag 'sustqui_peli[]', 'Comburente' %>
    <%= f.label :Comburente %>
    <%= check_box_tag 'sustqui_peli[]', 'Corrosivo' %>
    <%= f.label :Corrosivo %><br>
    <%= check_box_tag 'sustqui_peli[]', 'Explosivo' %>
    <%= f.label :Explosivo %>
    <%= check_box_tag 'sustqui_peli[]', 'Nocivo' %>
    <%= f.label :Nocivo %><br>
    <%= check_box_tag 'sustqui_peli[]', 'Irritante' %>
    <%= f.label :Irritante %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
