<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sustancia_quimica.nombre %>
</p>

<p>
  <strong>Pureza:</strong>
  <%= @sustancia_quimica.pureza %>
</p>

<p>
  <strong>Estado materia:</strong>
  <%= @sustancia_quimica.estado_materia %>
</p>

<p>
  <strong>Controlado:</strong>
  <%= @sustancia_quimica.controlado %>
</p>

<p>
  <strong>Regimen legal:</strong>
   <% if @sustancia_quimica.RI7 %>
    <%= 'RI7' %>
  <% end %>
  <% if @sustancia_quimica.RI4 %>
    <%= ' RI4' %>
  <% end %>

</p>

<p>
  <strong>Cantidad:</strong>
  <%= @sustancia_quimica.cantidad %>
</p>

<p>
  <strong>Cas:</strong>
  <%= @sustancia_quimica.CAS %>
</p>

<p>
  <strong>Uso:</strong>

  <% if @sustancia_quimica.Investigacion2 %>
    <%= 'Inves' %>
  <% end %>
  <% if @sustancia_quimica.Docencia2 %>
    <%= ' Doc' %>
  <% end %>
  <% if @sustancia_quimica.Extension2 %>
    <%= ' Exten' %>
  <% end %>
  <% if @sustancia_quimica.Gestion2 %>
    <%= ' Gest' %>
  <% end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sustancia_quimica.status %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @sustancia_quimica.responsable %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @sustancia_quimica.ubicacion %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @sustancia_quimica.caducidad %>
</p>

<p>
  <strong>Peligro:</strong>
  <% if @sustancia_quimica.Toxico %>
    <%= 'Toxico' %>
  <% end %>
  <% if @sustancia_quimica.Comburente %>
    <%= ' Comburente' %>
  <% end %>
  <% if @sustancia_quimica.Explosivo %>
    <%= ' Explosivo' %>
  <% end %><br>
  <% if @sustancia_quimica.Irritante %>
    <%= ' Irritante' %>
  <% end %>
  <% if @sustancia_quimica.Inflamable %>
    <%= 'Inflamable' %>
  <% end %>
  <% if @sustancia_quimica.Corrosivo %>
    <%= ' Corrosivo' %>
  <% end %>
  <% if @sustancia_quimica.Nocivo %>
    <%= ' Nocivo' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_sustancia_quimica_path(@sustancia_quimica) %> |
<%= link_to 'Atras', sustancia_quimicas_path %>
