<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sustancia_quimica.nombre %>
</p>

<p>
  <strong>Pureza:</strong>
  <%= @sustancia_quimica.pureza %>
</p>

<p>
  <strong>Estado materia:</strong>
  <%= @sustancia_quimica.estado_materia %>
</p>

<p>
  <strong>Controlado:</strong>
  <%= @sustancia_quimica.controlado %>
</p>

<p>
  <strong>Regimen legal:</strong>
  <%= @sustancia_quimica.regimen_legal %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @sustancia_quimica.cantidad %>
</p>

<p>
  <strong>Cas:</strong>
  <%= @sustancia_quimica.CAS %>
</p>

<p>
  <strong>Uso:</strong>
  <%= @sustancia_quimica.uso %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sustancia_quimica.status %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @sustancia_quimica.responsable %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @sustancia_quimica.ubicacion %>
</p>

<p>
  <strong>Caducidad:</strong>
  <%= @sustancia_quimica.caducidad %>
</p>

<p>
  <strong>Peligro:</strong>
  <%= @sustancia_quimica.peligro %>
</p>

<%= link_to 'Edit', edit_sustancia_quimica_path(@sustancia_quimica) %> |
<%= link_to 'Atras', sustancia_quimicas_path %>
