<%= form_for(@consumible) do |f| %>
  <% if @consumible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumible.errors.count, "error") %> prohiben este consumible de ser guardado:</h2>

      <ul>
      <% @consumible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :dimensiones %><br>
    <%= f.text_field :dimensiones %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field(:cantidad, min: 0) %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br>
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label 'Uso' %><br>
   <br>
   <%= f.check_box :Investigacion %>
    <%= f.label :Investigacion %><br>
    <%= f.check_box :Docencia %>
    <%= f.label :Docencia %><br>
    <%= f.check_box :Extension %>
    <%= f.label :Extension %><br>
    <%= f.check_box :Gestion %>
    <%= f.label :Gestion %><br>
   </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
