<h1>Consumibles</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
<!--      <th>Descripcion</th> -->
<!--      <th>Dimensiones</th> -->
<!--      <th>Material</th>    -->
      <th>Cantidad</th>  
      <th>Ubicacion</th>
<!--      <th>Uso</th>      -->
      <th>Responsable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumibles.each do |consumible| %>
      <tr>
        <td><pre><%= consumible.nombre %></pre></td>
<!--        <td><%= consumible.descripcion %></td>  -->
<!--        <td><%= consumible.dimensiones %></td>  -->
<!--        <td><%= consumible.material %></td>     -->
        <td><pre><%= consumible.cantidad %></pre></td>    
        <td><pre><%= consumible.ubicacion %></pre></td>
<!--        <td><pre><%= consumible.uso %></pre></td> -->
         <td><pre><%= consumible.responsable %></pre></td>
        <td><%= link_to 'Ver', consumible %></td>
        <td><%= link_to 'Edit', edit_consumible_path(consumible) %></td>
        <td><%= link_to 'Elim', consumible, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Consumible', new_consumible_path %>
