<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @consumible.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @consumible.descripcion %>
</p>

<p>
  <strong>Dimensiones:</strong>
  <%= @consumible.dimensiones %>
</p>

<p>
  <strong>Material:</strong>
  <%= @consumible.material %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @consumible.cantidad %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @consumible.ubicacion %>
</p>

<p>
  <strong>Uso:</strong>
  <% if @consumible.Investigacion %>
    <%= 'Inves' %>
  <% end %>
  <% if @consumible.Docencia %>
    <%= ' Doc' %>
  <% end %>
  <% if @consumible.Extension %>
    <%= ' Exten' %>
  <% end %>
  <% if @consumible.Gestion %>
    <%= ' Gest' %>
  <% end %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @consumible.responsable %>
</p>

<%= link_to 'Editar', edit_consumible_path(@consumible) %> |
<%= link_to 'Atras', consumibles_path %>
