<h1>Bienvenido</h1>

<div id= 'categorias'>
	<td><%= link_to 'Sustancias Quimicas', sustancia_quimicas_url %></td><br>
	<td><%= link_to 'Equipos', equipos_url %></td><br>
	<td><%= link_to 'Herramientas', herramienta_url %></td><br>
	<td><%= link_to 'Instrumentos', instrumentos_url %></td><br>
	<td><%= link_to 'Consumibles', consumibles_url %></td><br>
</div>
<!--<p>Find me in app/views/welcome/index.html.erb</p>-->
