<h1>Bienvenido</h1>


<td><%= link_to 'Sustancias Quimicas', sustancia_quimicas_url %></td><br>
<td><%= link_to 'Equipos', equipos_url %></td><br>
<td><%= link_to 'Herramientas', herramienta_url %></td><br>
<td><%= link_to 'Instrumentos', instrumentos_url %></td><br>
<td><%= link_to 'Consumibles', consumibles_url %></td><br>

<p>Find me in app/views/welcome/index.html.erb</p>
