<%= form_for(@equipo) do |f| %>
  <% if @equipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipo.errors.count, "error") %> prohiben a este equipo de ser guardado:</h2>

      <ul>
      <% @equipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :no_bien_nac %><br>
    <%= f.number_field(:no_bien_nac, min: 0) %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, [['Operativo'], ['Inoperativo Temporalmente'], ['Desuso'] ] ) %>
  </div>
  <div class="field">
    <%= f.label :ultima_calibracion %><br>
    <%= f.date_select :ultima_calibracion %>
  </div>
  <div class="field">
    <%= f.label :uso %><br>
    <br>
    <%= f.check_box :Investigacion %>
    <%= f.label :Investigacion %><br>
    <%= check_box_tag 'equipo_uso[]', 'Docencia' %>
    <%= f.label :Docencia %><br>
    <%= check_box_tag 'equipo_uso[]', 'Extension' %>
    <%= f.label :Extension %><br>
    <%= check_box_tag 'equipo_uso[]', 'Gestion' %>
    <%= f.label :Gestion %><br>
  </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsable %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br>
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :fecha_adquisicion %><br>
    <%= f.date_select :fecha_adquisicion %>
  </div>
  <div class="field">
    <%= f.label :orden_compra %><br>
    <%= f.text_field :orden_compra %>
  </div>
  <div class="field">
    <%= f.label :costo %><br>
    <%= f.number_field(:costo, min: 0) %>
  </div>
  <div class="field">
    <%= f.label :factura %><br>
    <%= f.text_field :factura %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
