<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @equipo.nombre %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipo.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @equipo.modelo %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @equipo.serial %>
</p>

<p>
  <strong>No bien nac:</strong>
  <%= @equipo.no_bien_nac %>
</p>

<p>
  <strong>Status:</strong>
  <%= @equipo.status %>
</p>

<p>
  <strong>Ultima calibracion:</strong>
  <%= @equipo.ultima_calibracion %>
</p>

<p>
  <strong>Uso:</strong>
  <%= @equipo.uso %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @equipo.responsable %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @equipo.ubicacion %>
</p>

<p>
  <strong>Fecha adquisicion:</strong>
  <%= @equipo.fecha_adquisicion %>
</p>

<p>
  <strong>Orden compra:</strong>
  <%= @equipo.orden_compra %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @equipo.costo %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @equipo.factura %>
</p>

<%= link_to 'Editar', edit_equipo_path(@equipo) %> |
<%= link_to 'Atras', equipos_path %>
