<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @herramientum.nombre %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @herramientum.marca %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @herramientum.tipo %>
</p>

<p>
  <strong>No bien nac:</strong>
  <%= @herramientum.no_bien_nac %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @herramientum.estado %>
</p>

<p>
  <strong>Uso:</strong>
  <%= @herramientum.uso %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @herramientum.responsable %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @herramientum.ubicacion %>
</p>

<p>
  <strong>Material:</strong>
  <%= @herramientum.material %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @herramientum.factura %>
</p>

<p>
  <strong>De un juego:</strong>
  <%= @herramientum.de_un_juego %>
</p>

<%= link_to 'Edit', edit_herramientum_path(@herramientum) %> |
<%= link_to 'Atras', herramienta_path %>
